<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>40588651226-f9u5rupqpv82kiqafotitfaos64tsdcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40588651226-f9u5rupqpv82kiqafotitfaos64tsdcg</string>
	<key>API_KEY</key>
	<string>AIzaSyDK5nEZ3v9R6Na6D8LYWHBmrx6S7-xUCnY</string>
	<key>GCM_SENDER_ID</key>
	<string>40588651226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kasidit.tower</string>
	<key>PROJECT_ID</key>
	<string>gamedev-50e4c</string>
	<key>STORAGE_BUCKET</key>
	<string>gamedev-50e4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:40588651226:ios:eef6881a9970b662</string>
	<key>DATABASE_URL</key>
	<string>https://gamedev-50e4c.firebaseio.com</string>
</dict>
</plist>